<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Сетка {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% block styles %}{% endblock %}
</head>
<body>
<div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a href="/">
                    <img src="{% static "images/connections.png" %}" class="logo"  alt="logo"/>
                </a>
                <a class="dropdown-item" href="/">Главная</a>
                <!--<a class="dropdown-item" href="/resources">Ресурсы</a>-->
                <a class="dropdown-item" href="/articles/1">Статьи</a>
                <a class="dropdown-item" href="/article/О-сайте">О сайте</a>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </div>
<div class="section">
    {% block content %}{% endblock content %}
</div>
</body>
</html>